<div class="form">
  <div class="form-container">
    <%= simple_form_for @restaurant do |f| %>
    <%= f.input :name %>
    <%= f.input :category,
              label: "choose a category",
              as: :select,
              collection: ["chinese", "italian", "japanese", "french", "belgian"] ,
              prompt: "Choose a category"%>
    <%= f.input :address %>
    <%= f.submit "Create restaurant", class: "btn btn-primary" %>
    <% end %>

</div>
</div>
